@import url(https://fonts.googleapis.com/css?family=Italiana:regular);
@import url(https://fonts.googleapis.com/css?family=Corinthia:regular,700);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    outline: none;
}
.px-10-16 {
    padding-left: calc(10% - 16px);
    padding-right: calc(10% - 16px);
}

@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}


.slider {
	margin: auto;
	overflow:hidden;
	position: relative;
	width: 100%;
	
	.slide-track {
		animation: scroll 30s linear infinite;
		display: flex;
		width: calc(250px * 14);
		&:hover {
            animation-play-state: paused;
        }
	}
}


:root {
	--bg1: url("https://media.istockphoto.com/id/1474789549/photo/elegant-jewelry-set-jewellery-set-with-gemstones-jewelry-accessories-collage-product-still.jpg?s=612x612&w=0&k=20&c=xjETHyumnsmAz5cnmRWYmbV24T87H9EwUx8QlW-1wv8=");
	--bg2: url("https://media.istockphoto.com/id/1744115084/photo/diamond-jewelry-rings-luxury-accessories-beauty-fashion.jpg?s=612x612&w=0&k=20&c=-c5IchUoKy1OJodigmX7WIhvt8NWvDDMZKPwhqyfeFU=");
	--bg3: url("https://media.istockphoto.com/id/1580791638/photo/elegant-jewelry-set-jewellery-set-with-gemstones-jewelry-accessories-collage-product-still.jpg?s=612x612&w=0&k=20&c=FsIY7Z7B1O79hkeSDtfWn6zM2Y8-zty_gEpIsZdOK9A=");
	--bg4: url("https://media.istockphoto.com/id/2130422750/photo/elegant-jewelry-set-jewellery-set-with-gemstones-jewelry-accessories-collage-product-still.jpg?s=612x612&w=0&k=20&c=MFjOG-qwVkDKkfE5DR9xWr4gE4kk1zSIhYOwEmS9vbo=");
	--bg5: url("https://media.istockphoto.com/id/1472742168/photo/elegant-jewelry-set-jewellery-set-with-gemstones-jewelry-accessories-collage-product-still.jpg?s=612x612&w=0&k=20&c=YQ5IbLVWEzy-bGYWAewqGnxT90wGrK2ITW53jxlAC7w=");
}

.box-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	column-gap: 10px;
	width: 100%;
	max-width: 1100px;
	max-height: 900px;
	padding: 1rem;
	margin: 0 auto;
}

.box {
	width: 25%;
	border-radius: 25px;
	cursor: pointer;
	transition: width 0.5s ease-in-out;
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 200%;
}

.box:nth-child(1) {
  	background: var(--bg1);
}
.box:nth-child(2) {
  	background: var(--bg2);
}
.box:nth-child(3) {
  	background: var(--bg3);
}
.box:nth-child(4) {
  	background: var(--bg4);
}
.box:nth-child(5) {
  	background: var(--bg5);
}

.box .overlay {
  	opacity: 0;
}

.box.closed {
  	width: 5%;
}
.box.closed .overlay {
  	opacity: 1;
}

.box.expanded {
	width: 85%;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	transition: 0.5s ease;
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
}
